@import '../main.scss';

.footer-body{
    @include body(auto, $primaryFontFamily, $paraFontSize,
     $white, $darkgreen );
     display: flex;
     justify-content: center;
     p{
        margin: auto;
     }
}