$lightgreen: #048d04;
$darkgreen: #0c620c;
$toodarkgreen: #0c620c;
$green: #048d04;
$white: white;

// $lightgreen: #4890b6;
// $darkgreen: #1f4076;
// $toodarkgreen: #131243cf;
// $green: #4580a8e7;
// $white: white;
