$headingFontSize: calc(16px + 3vmin);
$primaryFontSize: calc(12px + 2vmin);
$midFontSize: calc(5px + 2vmin);
$paraFontSize: calc(8px + 1vh);
$buttonfontsize: calc(12px + 2vmin);
$inputFontSize: calc(10px + 1vh);
$inputFontSizeTablet: calc(14px + 1vh);
$primaryFontFamily: 'Roboto', sans-serif;